@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    @apply bg-gray-100 text-gray-900 min-h-screen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
      "Segoe UI", sans-serif;
  }

  #root {
    @apply min-h-screen;
  }
  
  input, textarea {
    @apply bg-white text-gray-900;
  }
}

